/tmp/
/dist/
/dist-sourcemaps/
/test/unit/coverage/
/test/data/
/_backup
/releases/docs/

# Package managers
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log
package-lock.json

# Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*-private-key-admin-sdk.json
*.cache
/db/keys/*.json

# Sensitive data
*.key
*.kdbx

# Firebase
firebase-debug.log
.runtimeconfig.json
webpack-assets.json
