div[class~=language-scheme]:before {
  content: "bolt"
}

.home .hero .action-button:hover {
  background-color: #f98e40 !important;
}

.home .hero .action-button {
  background-color: #f97312  !important;
  border-bottom: 2px solid #d74e07  !important;
}
